.nav {
  composes: primaryBg from "../colors.module.css";
  display: flex;
  place-content: center;
  gap: 2rem;
}

.navBtn {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0;
  width: 100px;
  text-align: center;
  border: white solid 2px;
}

.navBtn:hover {
  color: black;
  background-color: #d6ac58ff;
  box-shadow: 0px 2px 2px rgb(48, 85, 87);
}
