nav {
  display: flex;
  place-content: center;
  gap: 2rem;
}

a {
  text-decoration: none;
  background-color: cadetblue;
  padding: 1rem 2rem;
  border-radius: 10px;
}
a:hover,
a:visited,
a:active {
  color: inherit;
  background-color: rgb(80, 140, 143);
  box-shadow: 0px 2px 2px rgb(48, 85, 87);
}
