.primaryBg {
  background-color: #1c2e52ff;
}

.primaryBtnBg {
  background-color: #2a69e8ff;
}

.secondaryPillBg {
  background-color: #cac4ceff;
}

.specialBtnBg {
  background-color: #d6ac58ff;
}

.submitBtnBg {
  background-color: #147524ff;
}

.lightBlueBg {
  background-color: #326de3ff;
}
